/* start Globle rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
font-family: 'Work Sans', sans-serif;
}
.contaner{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small  */
@media (min-width: 768px) {
    .contaner{
        width: 750px;
    }
}
/* made*/
@media (min-width: 992px) {
    .contaner{
        width: 970px;
    }
}
/* large*/
@media (min-width: 1200px) {
    .contaner{
        width: 1170px;
    }
}
/* end Globle rules */
/* start componns */
.special-heading{
    color: #d3d0d3;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
@media (max-width: 767px){
    .landing{
        width: 100vh;
    }
    .special-heading{
        font-size: 60px;
    }
    .special-heading +p{
        margin: -20px;
    }
    .services .services-contant .srv{
        flex-direction: column;
        text-align: center;
    }
    .portfolio .portfolio-contant .card{
        text-align: center;
    }
    .about .about-contant .image::after{
        display: none;
    }
    .about .about-contant .image::before{
        display: none;
    }
    .about .about-contant .image{
        margin-left: auto;
        margin-right: auto;
    }
    .about .about-contant{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 100vh;
    }
}
/* end componns */
/* start header */
.header{
    padding: 20px;
}
.header .contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none; 
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}
.header .links ul li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd ;
}
.header .links:hover ul{
    display: block;
}
/* end header */
/* start landing */
.landing {
    background-image: url(../img/mawuntant.jpg);
    background-size: cover;
    height:calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    max-width: 100%;
    text-align: center;
}
.landing .intro-text h1{
    margin: 0px;
    color: #10cab7;
    font-weight: bold;
    font-size: 50px;
}
/* end landing */
/* start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .contaner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: #10cab7;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0px;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end features */
/* start services*/
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-contant .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .services-contant .srv i{
    color: #10cab7;
    flex-basis: 60px;
    font-size: 25px;
}
.services .services-contant .srv .text{
    flex: 1;
}
.services .services-contant .srv .text h3{
    margin: 0 0 20px;
}
services .services-contant .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-contant .image{
    text-align: center;
    position: relative;
}
.services .services-contant .image::before {
    content: "";
    background-color: #444;
    height: calc(100% + 100px);
    width: 100px;
    position: absolute;
    top: -50px;
    right: 0;
   z-index: -1;
}
.services .services-contant .image img{
    width: 260px;
}
@media (max-width: 1199px){
.image-colunm{
    display: none;
}
}
/* end services*/
/*start portfolio*/
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-contant .card{
    background-color: white;
}
.portfolio .portfolio-contant .card img{
    max-width: 100%;
}
.portfolio .portfolio-contant .card .info{
    padding: 20px;
}
.portfolio .portfolio-contant .card .info h3{
    margin: 0px;
}
.portfolio .portfolio-contant .card .info p{
    color: #777;
    margin-bottom: 0px;
    line-height: 1.6;
}
/*end portfolio*/
/*start About*/
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-contant{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-contant .image{
    width: 311px;
    height: 162px;
    position: relative;
}
.about .about-contant .image::before{
    content: "";
    width: 50px;
    height: calc(100% + 80px);
    background-color: #ededed;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-contant .image::after{
    content: "";
    width: 100px;
    height: 150px;
    border-left: 40px solid #10cab7;
    border-bottom: 40px solid #10cab7;
    position: absolute;
    top: -40px;
    right: -120px;
    z-index: -1;
}
.about .about-contant .image img{
    max-width: 100%;
}
.about .about-contant .text{
    flex-basis: calc(100% - 500px);
}
.about .about-contant .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}
.about .about-contant .text hr{
    border-color: #10cab7;
    display: inline-block;
    width: 50%;
}
.about .about-contant .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/*end About*/        
/* start contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .contaner .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .contaner .info .label{
    font-size: 35px;
    font-weight: 800;
    color: #444;
    letter-spacing: -2;
    margin-bottom: 15px;
}
.contact .contaner .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}
.contact .contaner .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .contaner .info .social i{
    margin-left: 10px;
    color: #444;
}
footer {
    background-color: #444;
    color: white;
    padding: 25px;
    text-align: center;
}
footer span{
    color: #10cab7;
}
/* end contact */